<div class="card w-33">
  <div class="card-header">
    {{name}}
    {{#if actionCost}}
      <img src="/img/{{actionCost}}.png" style="height: 20px;">
    {{/if}}
    {{#if category}}
      - {{category}}
    {{/if}}
    {{#each traits}}
      <span class="badge badge-secondary">{{this}}</span>
    {{/each}}
    {{#if proficiency}}
      <span class="badge badge-secondary float-right">{{proficiency}}</span>
    {{/if}}
  </div>
  <ul class="list-group list-group-flush">
    {{#each information}}
      <li class="list-group-item">
        <span class="font-weight-bold">{{label}}: </span>
        {{description}}
      </li>
    {{/each}}
  </ul>
</div>
