<ul class="list-group">
  <li class="list-group-item d-flex justify-content-around align-items-center list-group-item-primary">
    <h4>{{name}} {{#if category}}- {{category}}{{/if}}{{#if subcategory}} - {{subcategory}}{{/if}}{{#if level}} - {{level}}{{else}} - 0{{/if}}</h4>
  </li>
  {{#if traits}}
    <li class="list-group-item d-flex justify-content-around align-items-center list-group-item">
      {{#each traits}}
        <span class="badge badge-secondary">{{this}}</span>
      {{/each}}
    </li>
  {{/if}}
  <li class="list-group-item">
    {{#if price}}
      <span class="font-weight-bold">Price: </span>
      {{price}}
    {{/if}}
    {{#if 'ac bonus'}}
      <span class="font-weight-bold">AC Bonus: </span>
      {{'ac bonus'}}
    {{/if}}
    {{#if 'check penalty'}}
      <span class="font-weight-bold">Check Penalty: </span>
      {{'check penalty'}}
    {{/if}}
    {{#if 'speed penalty'}}
      <span class="font-weight-bold">Speed Penalty: </span>
      {{'speed penalty'}}
    {{/if}}
    {{#if 'dex cap'}}
      <span class="font-weight-bold">Dex Cap: </span>
      {{'dex cap'}}
    {{/if}}
  </li>
  <li class="list-group-item">
    {{#if strength}}
      <span class="font-weight-bold">Strength Requirement: </span>
      {{strength}}
    {{/if}}
    {{#if bulk}}
      <span class="font-weight-bold">Bulk: </span>
      {{bulk}}
    {{/if}}
    {{#if group}}
      <span class="font-weight-bold">Group: </span>
      {{group}}
    {{/if}}
  </li>
  {{#if description}}
    <li class="list-group-item">
      {{{description}}}
    </li>
  {{/if}}
  {{#each information}}
    <li class="list-group-item">
      <span class="font-weight-bold">{{label}}: </span>
      {{description}}
    </li>
  {{/each}}
  {{#if criticalSpecialization}}
    <li class="list-group-item">
      <span class="font-weight-bold">Specialization Effect: </span>
      {{criticalSpecialization}}
    </li>
  {{/if}}
  {{#each subtypes}}
    <li class="list-group-item">
      {{> armor}}
    </li>
  {{/each}}
</ul>

{{#if source}}
  <footer class="blockquote-footer">{{source}}</footer>
{{/if}}
