<div class="card w-33">
  <div class="card-body">
    <h5 class="card-title">{{name}} <span class="badge badge-secondary float-right">{{level}}</span></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{#each traits}}
        <span>{{this}}</span>
      {{/each}}
    </h6>
    {{#each information}}
      <p class="card-text"><strong>{{label}}:</strong> {{description}}</p>
    {{/each}}
    <p class="card-text">{{{description}}}</p>
  </div>
</div>
