<ul class="list-group">
  <li class="list-group-item d-flex justify-content-around align-items-center list-group-item-primary">
    <h4>{{name}} - {{level}}</h4>
  </li>
  <li class="list-group-item d-flex justify-content-around align-items-center list-group-item">
    {{#each tags}}
      <span class="badge badge-secondary">{{this}}</span>
    {{/each}}
  </li>
  {{#each information}}
    <li class="list-group-item list-group-item">
      <span class="font-weight-bold">{{label}}: </span>
      {{description}}
    </li>
  {{/each}}
  {{#each effects}}
    <li class="list-group-item list-group-item">
      <span class="font-weight-bold">{{label}}: </span>
      {{description}}
    </li>
  {{/each}}
</ul>
